@import "tailwindcss";

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
	--text-primary: #00f5d4;
	border: none;
	padding: 0;
	margin: 0;
	cursor: default;
	scroll-behavior: smooth;
}
/* Custom animation for glowing gradient */
@keyframes glow {
	0% {
		background-position: 200% 0;
	}

	100% {
		background-position: -200% 0;
	}
}

@layer base {
}

/* Register animation as a utility */
@layer utilities {
	.animate-glow {
		animation: glow 10s linear infinite;
		background-size: 200% 200%;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-source-code-pro: var(--font-source-code-pro);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-source-code-pro), Arial, Helvetica, sans-serif;
}
